/* General*/
body
{
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Assistant', sans-serif;
}
.border_frame
{
    background-image: url(../Images/bg-pattern.jpg);
    background-repeat: repeat-y;
}
img
{
    max-width: 100%;
    height: auto;
}
ul
{
    list-style: none;
}
.section_heading
{
    padding: 65px 0 80px 0;
}
.center-div
{
    text-align: center;
}
.center-div h3
{
    padding-bottom: 40px;
}
.section_heading h1
{
    font-size: 4rem;
}
.section_heading h3
{
    font-size: 2.5rem;
}
.card-body
{
    background: #2d82c9;
}
.section_heading .card
{
    margin: 20px auto ;
}
.divider
{
    width: 100px;
    height: 2px;
    background-color: #2d82c9;
    margin: 0 auto 20px;
}
/* Header */
#img_header
{
    background-image: url(../Images/bg-pattern.jpg);
    background-repeat: repeat-x;
    height: 250px;
}
header img
{
    padding-inline: 0 !important;
}
header nav
{
    border: #fff 1px solid;
    padding-inline: 0 !important;
    font-family: 'Holtwood One SC', sans-serif;
}
.nav-pills
{
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.nav-link 
{
     color: #eee;
     font-size: 18px;
     text-shadow: 2px 2px #333;
     cursor: pointer;
 }
.nav-link.active 
{
     background-color: #2d82c9 !important;
}
.nav-link:hover 
{
     color: #2d82c9;
     background-color: #eee;
}
/* Main Content */
#main_content
{
    min-height: 100vh;
    padding: 15px;
}
/*Tab 1 */
#self-picture
{
    margin: 0 auto;
    text-align: center;
}
#self-picture img
{
    height: 400px;
    margin: 0 auto 30px;
}
#about
{
    background: #2d82c9;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 15px;
    margin: 30px 20px;
}
.skills
{
    margin-inline: 20px;
}
.skills .col-lg-4, .skills .col-md-6
{
    margin: 20px 0;
}
.skills .card .card-img-top
{
    height: 125px !important;
    width: 125px !important;
    margin: 5px auto;
}
.card .progress
{
    margin: 10px auto 10px;
    height: 2.5rem;
    border: 0.5px solid #000;
}
.card .progress-bar
{
    background-color: #47a7f7;   
}
.card .progress-bar h5
{
    text-shadow: 1px 1px 1px #000;
    margin-top: 5px;
}
#skills-divider
{
    margin-top: 20px;
    margin-bottom: 0px;
}
/* Footer */
footer
{
    margin-top: auto;
    background-color: #000;
    border-top: solid #fff;
    padding: 0 0 15px 0;
}
footer h2
{
    text-align: center;
    padding: 15px;
    font-family: 'Holtwood One SC', sans-serif;
}
.logoFooter
{
    background-color: #fff;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    padding: 4px;
    margin: 15px 5px;
}
.logoFooter:hover
{
    border: #47a7f7 3px solid;
}
#mailContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mail
{
    font-size: 20px;
}
/* Timeline */
.timeline {
    padding: 30px 10px;
    position: relative;
}
.timeline:before {
    content: " ";
    top: 0;
    bottom: 0;
    position: absolute;
    width: 5px;
    background-color: #2d82c9;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li {
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline li .timeline-badge {
    color: #2d82c9;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container {
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted {
    width: 50%;
    float: right;
}
.timeline-panel {
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background-color: #fff;
}
.timeline-panel-container-inverted .timeline-panel {
    float: left;
    margin-left: 40px;
}
.timeline-panel:after {
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3 {
    margin-top: 5px;
    font-size: 20px;
    color: #000;
}
.timeline-heading h4 {
    color: #2d82c9;
}
.timeline p
{
    color: #000;
}
/* project */

.project-info
{
    background: #2d82c9;
    border-radius: 5px;
    font-size: 1.8rem;
    padding: 25px;
    margin: 40px 20px;
    text-align: center;
}
.project-link
{
    color: #2d82c9;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    background-color: #ddd;
    border-radius: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -5px;
}
.project-link:hover
{
    color:#47a7f7;
    border: #47a7f7 3px solid;
}
.small-img-size
{
    width: 250px;
    height: 100px;
    border: #2d82c9 1px solid;
    margin-inline: 5px;
    display: flex;
    justify-content: center;
}
.small-img
{
    max-height: 100%;
    max-width: 100%;
    align-self: center;
}
.list-img 
{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.big-img 
{
    height: 60svh;
    width: 100%;
    object-fit:contain;
}
.list-desc ul *
{
    display: none;
    font-size: 1.5rem;
}
.list-desc ul :first-child
{
    display: inline;
}

/* media querry */

@media (min-width: 991.98px) 
{
    .project
    {
        margin-left: 80px;
        margin-right: 80px;
    }
    .desc-container
    {
        margin-left: 40px;
        margin-top: 115px;
    }
}
@media (max-width: 991.98px) 
{
    .desc-container
    {
        margin-top: 40px;
    }
}
@media (min-width: 991.98px) and (max-width: 1265px) 
{
    #mail
    {
        display: none;
    }
}
@media (min-width: 1px) and (max-width: 991.98px) 
{
    #mail
    {
        display: none;
    }
    .nav-pills
    {
        display: block;
    }
}